<div class="d-flex mb-1 w-100">
    <img src="assets/profile-img.png" class="profile-img profile-img-comment mt-1" alt="Profile image">
    <div class="d-flex flex-column w-100">
        <div class="card-container">
            <div class="card-content">
                <div class="row justify-content-between">
                    <div class="col d-flex">
                        <p class="user-name mb-1">{{ comment.user_name }}</p>
                    </div>
                    <div class="col-auto">
                        <!-- Edit/delete post dropdown -->
                        <div class="dropdown" *ngIf="editable">
                            <button 
                                id="commentDropDown"
                                class="btn btn-outline-secondary dropdown-toggle btn-sm"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="commentDropDown">
                                <button class="dropdown-item btn-sm" (click)="onEditCommentClick()">Edit Comment</button>
                                <button class="dropdown-item btn-sm" (click)="onDeleteCommentClick()" >Delete Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="mb-1">{{ comment.comment_content }}</p>
                <div class="row justify-content-between">
                    <div class="col d-flex">
                        <div class="d-flex">
                            <div class="d-flex" *ngIf="currentUser">
                                <p
                                    (click)="likeComment()"
                                    class="me-2 hover-underline-text"
                                    [ngClass]="{'text-primary': comment.likes.includes(currentUser)}">Like</p>
                                <p 
                                    (click)="toggleCommentReplies()" 
                                    class="me-2 hover-underline-text">Reply</p>
                                <p 
                                    (click)="dislikeComment()"
                                    class="me-2 hover-underline-text"
                                    [ngClass]="{'text-primary': comment.dislikes.includes(currentUser)}">Dislike</p>
                            </div>
                            <p>({{ timeFormat }})</p>
                        </div>
                    </div>  
                    <div class="col-auto d-flex">
                        <p (click)="showMode('like', likesModal)" class="text-primary hover-pointer me-2"><i class="bi bi-hand-thumbs-up"></i>{{ comment.likes.length }}</p>
                        <p (click)="showMode('dislike', likesModal)" class="text-primary hover-pointer"><i class="bi bi-hand-thumbs-down"></i>{{ comment.dislikes.length }}</p>
                    </div>
                </div>
                <p (click)="toggleCommentReplies()" class="hover-underline-text" *ngIf="comment.replies.length !== 0">
                    <i class="bi bi-arrow-return-right"></i> {{ comment.replies.length }} {{ comment.replies.length === 1 ? "reply" : "replies" }}
                </p>
            </div>
        </div>
        <app-comment-replies
            (requestUpdateEvent)="onRequestUpdate()"
            [blog_id]="blog_id"
            [comment_id]="comment.comment_id"
            [replies]="comment.replies" 
            *ngIf="showCommentReplies"></app-comment-replies>
    </div>
</div>

<!-- Liked/disliked by modal -->
<ng-template #likesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="show === 'like'; else dislikeTitle">Liked by</h4>
      <ng-template #dislikeTitle>     
        <h4 class="modal-title">Disliked by</h4>
      </ng-template>
      <button class="close" (click)="modal.dismiss('cross')">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <div class="modal-body">
        <div *ngIf="show === 'like'; else dislikeItems">
            <ul *ngIf="comment.likes.length > 0; else noLikesYet">
                <li *ngFor="let like of comment.likes">{{ like }}</li>
            </ul>
            <ng-template #noLikesYet><p>This comment doesn't have any likes yet.</p></ng-template>
        </div>
        <ng-template #dislikeItems>
            <div>
                <ul *ngIf="comment.dislikes.length > 0; else noDislikesYet">
                    <li *ngFor="let dislike of comment.dislikes">{{ dislike }}</li>
                </ul>
                <ng-template #noDislikesYet><p>This comment doesn't have any dislikes yet.</p></ng-template>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button 
            class="btn btn-outline-dark" 
            (click)="modal.dismiss('cancel')">
            <i class="bi bi-x-lg"></i> Close
        </button>
    </div>
</ng-template>