<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">BlogWebsite</a>
        <div class="d-flex">
            <p class="navbar-brand">Hello {{ currentUser }}</p>
            <!-- <a 
                class="m-1 btn btn-outline-primary" 
                href="/profile">Profile</a> -->
            <amplify-sign-out></amplify-sign-out>

            <!-- <div *ngIf="!isSignedIn">
                <a 
                    class="m-1 btn btn-outline-primary" 
                    href="/login">Log in</a>
                <a 
                    class="m-1 btn btn-outline-primary" 
                    href="/signup">Sign up</a>
            </div>
            <div *ngIf="isSignedIn">
                <a 
                    class="m-1 btn btn-outline-primary" 
                    href="/profile">Profile</a>
                <amplify-sign-out></amplify-sign-out>
            </div> -->
        </div>
    </div>
</nav>