<div class="card mb-3 bg-light">
    <form
        autocomplete="off"
        [formGroup]="newBlogForm"
        (ngSubmit)="onCreate(newBlogForm.value)">
        <div class="m-1">
            <input 
                type="text"
                formControlName="blogContent"
                placeholder="What is on your mind?" 
                class="form-control">
        </div>
        <div class="m-1 d-flex">
            <input 
                #imageInput
                type="file"
                (change)="onImageUpload($event)"
                class="m-1 btn btn-primary col">
            <!-- <button 
                class="m-1 btn btn-primary col"
                (click)="onImageUploadClick()">
                    <i class="bi bi-card-image"></i> Add image
            </button> -->
            <!-- <button 
                type="button" 
                class="m-1 btn btn-primary col"><i class="bi bi-card-image"></i> Add image</button> -->
            <button 
                type="submit" 
                class="m-1 btn btn-primary col">Post</button>
        </div>
    </form>
</div>