<div class="card mb-2">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col">
                <h5>{{ blog.user_name }}</h5>
                <p>{{ blog.timestamp.toLocaleString() }}</p>
            </div>
            <div class="col-auto">
                <!-- Edit/delete post dropdown -->
                <div class="dropdown">
                    <button 
                        id="dropdownMenuButton"
                        class="btn btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="onEditPostClick(mymodal)">Edit Post</button>
                        <button class="dropdown-item" (click)="onDeletePostClick()" >Delete Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>{{ blog.blog_content }}</p>
    </div>
    <div *ngIf="blog.image_id" class="d-flex justify-content-center">
        <img [src]="blog.image" width="50%">
    </div>
    <hr>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col d-flex">
                <p class="text-primary me-2">{{ blog.likes.length }} <i class="bi bi-hand-thumbs-up"></i></p>
                <p class="text-primary">{{ blog.dislikes.length }} <i class="bi bi-hand-thumbs-down"></i></p>
            </div>
            <div class="col-auto" *ngIf="blog.comments.length !== 0">
                <p (click)="toggleCommentSection()" class="hover-underline-text">{{ commentCount }} Comments</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <button 
                [ngClass]="blog.likes.includes(currentUser) ? 'btn btn-primary' : 'btn btn-outline-primary'" 
                (click)="likePost()" 
                class="m-1 col">
                    <i class="bi bi-hand-thumbs-up"></i> Like
            </button>
            <button 
                (click)="toggleCommentSection()" 
                class="m-1 btn btn-outline-primary col">
                    <i class="bi bi-chat-left"></i> Comment
            </button>
            <button 
                [ngClass]="blog.dislikes.includes(currentUser) ? 'btn btn-primary' : 'btn btn-outline-primary'" 
                (click)="dislikePost()" 
                class="m-1 col">
                    <i class="bi bi-hand-thumbs-down"></i> Dislike
            </button>
        </div>
        <app-comment-section 
            [blog_id]="blog.blog_id"
            [comments]="blog.comments" 
            *ngIf="showCommentSection"></app-comment-section>
    </div>
</div>

<!-- Edit post modal -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit your post content.</h4>
      <button class="close" (click)="modal.dismiss('cross')">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="modal-body">
        <form
            autocomplete="off"
            [formGroup]="newBlogForm"
            (ngSubmit)="modal.close(newBlogForm.value)">
            <input 
                type="text" 
                placeholder="{{ blog.blog_content }}" 
                formControlName="blogEditContent"
                class="form-control">
        </form>
    </div>
    <div class="modal-footer">
        <button 
            class="btn btn-outline-dark" 
            (click)="modal.dismiss('cancel')">
            <i class="bi bi-x-lg"></i> Cancel
        </button>
        <button 
            type="submit"
            class="btn btn-outline-dark" 
            (click)="modal.close(newBlogForm.value)">
            <i class="bi bi-check-lg"></i> Save
        </button>
    </div>
</ng-template>