<div class="card mb-2">
    <div class="card-header">
        <h4>{{ blog.user_name }}</h4>
        <p>{{ blog.timestamp.toLocaleString() }}</p>
    </div>
    <div class="card-body">
        <p>{{ blog.blog_content }}</p>
    </div>
    <div *ngIf="blog.image_id">
        <p>IMAGE</p>
    </div>
    <div class="d-flex card-body">
        <p class="m-1">Likes</p>
        <p class="m-1">Comments</p>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <button class="btn btn-primary">Like</button>
            <button (click)="toggleCommentSection()" class="btn btn-primary">Comment</button>
        </div>
        <app-comment-section 
            [blog]="blog" 
            *ngIf="showCommentSection"></app-comment-section>
    </div>
</div>