<div class="card-container mb-2">
    <div class="card-content">
        <div class="row justify-content-between">
            <div class="col d-flex">
                <img src="assets/profile-img.png" class="profile-img" >
                <div>
                    <h5 class="user-name mb-1">{{ blog.user_name }}</h5>
                    <p>{{ timeFormat }}</p>
                </div>
            </div>
            <div class="col-auto">
                <!-- Edit/delete post dropdown -->
                <div class="dropdown" *ngIf="editable">
                    <button
                        id="postDropDown"
                        class="btn btn-outline-secondary dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="postDropDown">
                        <button class="dropdown-item" (click)="onEditPostClick(mymodal)">Edit Post</button>
                        <button class="dropdown-item" (click)="onDeletePostClick()" >Delete Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img *ngIf="blog.image_id" [src]="blog.image" width="100%">
    <div class="card-content">
        <p>{{ blog.blog_content }}</p>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col d-flex">
                <p (click)="showMode('like', likesModal)" class="text-primary me-2 hover-pointer">{{ blog.likes.length }} <i class="bi bi-hand-thumbs-up"></i></p>
                <p (click)="showMode('dislike', likesModal)" class="text-primary hover-pointer">{{ blog.dislikes.length }} <i class="bi bi-hand-thumbs-down"></i></p>
            </div>
            <div class="col-auto" *ngIf="blog.comments.length !== 0">
                <p (click)="toggleCommentSection()" class="hover-underline-text">{{ commentCount }} Comments</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex" *ngIf="currentUser">
            <button 
                [ngClass]="blog.likes.includes(currentUser) ? 'btn btn-primary' : 'btn btn-outline-primary'" 
                (click)="likePost()" 
                class="col me-1 mb-1">
                    <i class="bi bi-hand-thumbs-up"></i> Like
            </button>
            <button 
                (click)="toggleCommentSection()" 
                class="btn btn-outline-primary col me-1 mb-1">
                    <i class="bi bi-chat-left"></i> Comment
            </button>
            <button 
                [ngClass]="blog.dislikes.includes(currentUser) ? 'btn btn-primary' : 'btn btn-outline-primary'" 
                (click)="dislikePost()" 
                class="col mb-1">
                    <i class="bi bi-hand-thumbs-down"></i> Dislike
            </button>
        </div>
        <app-comment-section 
            (requestUpdateEvent)="onRequestUpdate()"
            [blog_id]="blog.blog_id"
            [comments]="blog.comments"
            *ngIf="showCommentSection"></app-comment-section>
    </div>
</div>

<!-- Edit post modal -->
<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit your post content.</h4>
      <button class="close" (click)="modal.dismiss('cross')">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="modal-body">
        <form
            autocomplete="off"
            [formGroup]="newBlogForm"
            (ngSubmit)="modal.close(newBlogForm.value)">
            <input 
                type="text" 
                placeholder="{{ blog.blog_content }}" 
                formControlName="blogEditContent"
                class="form-control">
        </form>
    </div>
    <div class="modal-footer">
        <button 
            class="btn btn-outline-dark" 
            (click)="modal.dismiss('cancel')">
            <i class="bi bi-x-lg"></i> Cancel
        </button>
        <button 
            type="submit"
            class="btn btn-outline-dark" 
            (click)="modal.close(newBlogForm.value)">
            <i class="bi bi-check-lg"></i> Save
        </button>
    </div>
</ng-template>

<!-- Liked/disliked by modal -->
<ng-template #likesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="show === 'like'; else dislikeTitle">Liked by</h4>
      <ng-template #dislikeTitle>     
        <h4 class="modal-title">Disliked by</h4>
      </ng-template>
      <button class="close" (click)="modal.dismiss('cross')">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <div class="modal-body">
        <div *ngIf="show === 'like'; else dislikeItems">
            <ul *ngIf="blog.likes.length > 0; else noLikesYet">
                <li *ngFor="let like of blog.likes">{{ like }}</li>
            </ul>
            <ng-template #noLikesYet><p>This post doesn't have any likes yet.</p></ng-template>
        </div>
        <ng-template #dislikeItems>
            <div>
                <ul *ngIf="blog.dislikes.length > 0; else noDislikesYet">
                    <li *ngFor="let dislike of blog.dislikes">{{ dislike }}</li>
                </ul>
                <ng-template #noDislikesYet><p>This post doesn't have any dislikes yet.</p></ng-template>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button 
            class="btn btn-outline-dark" 
            (click)="modal.dismiss('cancel')">
            <i class="bi bi-x-lg"></i> Close
        </button>
    </div>
</ng-template>