<div>
    <div class="row">
        <form
            autocomplete="off"
            [formGroup]="newCommentForm"
            (ngSubmit)="onCreateComment(newCommentForm.value)">
            <div class="m-1 d-flex">
                <input 
                    type="text"
                    formControlName="comment_content"
                    placeholder="Write a comment ..."
                    class="form-control me-1">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
    <!-- A list of all comments -->
    <div class="row">
        <app-comment
            (commentEvent)="onCommentEvent($event)"
            *ngFor="let comment of comments"
            [comment]="comment"></app-comment>
    </div>
</div>