<div>
    <div class="mb-2" *ngIf="currentUser">
        <form
            autocomplete="off"
            [formGroup]="newCommentForm"
            (ngSubmit)="createComment(newCommentForm.value)">
            <div class="d-flex">
                <input 
                    type="text"
                    formControlName="comment_content"
                    placeholder="Write a comment ..."
                    class="form-control">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
    <!-- A list of all comments -->
    <div>
        <app-comment
            (deleteCommentEvent)="deleteComment($event)"
            (requestUpdateEvent)="onRequestUpdate()"
            [blog_id]="blog_id"
            *ngFor="let comment of comments"
            [comment]="commentFromJSON(comment)"></app-comment>
    </div>
</div>