<div class="comment bg-secondary">
    <div class="container">
        <p>{{ reply.user_name }}</p>
        <p>{{ reply.reply_content }}</p> 
        <div class="row justify-content-between">
            <div class="col d-flex">
                <div class="d-flex">
                    <p 
                        (click)="likeReply()"
                        class="me-2 hover-underline-text"
                        [ngClass]="{'text-primary': reply.likes.includes(currentUser)}">Like</p>
                    <p 
                        (click)="dislikeReply()"
                        class="me-2 hover-underline-text"
                        [ngClass]="{'text-primary': reply.dislikes.includes(currentUser)}">Dislike</p>
                    <p>{{ convertToDate(reply.timestamp).toLocaleString() }}</p>
                </div>
            </div>
            <div class="col-auto d-flex">
                <p><i class="bi bi-hand-thumbs-up"></i>{{ reply.likes.length }}</p>
                <p><i class="bi bi-hand-thumbs-down"></i>{{ reply.dislikes.length }}</p>
            </div>
        </div>
    </div>
</div>