<div class="d-flex flex-column mb-2">
    <!-- A list of all replies -->
    <app-comment-reply
        (requestUpdateEvent)="onRequestUpdate()"
        [blog_id]="blog_id"
        [comment_id]="comment_id"
        *ngFor="let reply of replies"
        [reply]="replyFromJSON(reply)"></app-comment-reply>
    <div *ngIf="currentUser">
        <form
            autocomplete="off"
            [formGroup]="newReplyForm"
            (ngSubmit)="createReply(newReplyForm.value)">
            <div class="m-1 d-flex">
                <input 
                    type="text"
                    formControlName="reply_content"
                    placeholder="Write a reply ..."
                    class="form-control me-1">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>
</div>